body {
    background-color: #eec0c8;
    font-family: Arial;
}

h1 {
    color: darkblue;
}

body {
  background: linear-gradient(135deg, #1e3c72, #2a5298);
  height: 100vh;
  margin: 0;
}

.glass-box {
  width: 320px;
  height: 80px;

  background: rgba(255, 255, 255, 0.15); /* glass look */
  backdrop-filter: blur(10px);           /* frosted effect */
  -webkit-backdrop-filter: blur(10px);

  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);

  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
}

